// .theme__dark .summary-compact .subtitle {
//   display: none !important;
// }
.kimak {
  width: 100%;
}

h6.subtitle,
.summary-compact__tag--wrapper {
  display: none !important;
}

.single__meta {
  display: none;
}
nav.breadcrumb {
  display: none;
}
.summary-classic__text {
  display: none;
}
